* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    background-color: #ededed;
}

.content {
    width: 80%;
    margin: 10px auto;
    padding: 20px;

    background-color: #fff;
    box-shadow: 0px 0px 10px gray;
    border-radius: 15px;
}

h1 {
    font-size: 24px;
}

form {
    margin: 25px 0;
    padding: 15px;

    border: 2px solid lightgray;
    border-radius: 10px;
}

form h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

form input {
    border: 2px solid lightgray;

    padding: 15px 20px;
    margin-bottom: 15px;
    display: block;
    width: calc(100% - 44px);
}

form button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;

    padding: 10px 20px;
    border: 1px solid gray;

    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 25px;

    background-color: lightgreen;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

li .info {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

li .info div:nth-child(1) {
    font-weight: bold;
    margin-bottom: 10px;
}

li .info div:nth-child(3) {
    font-size: 22px;
    margin-top: 5px;
}

li:hover .delete {
    display: flex;
}

.delete {
    background-color: red;
    padding: 10px;

    align-items: center;
    justify-content: center;

    display: none;
    cursor: pointer;
}

.delete .cross {
    width: 20px;
    height: 2px;
    background-color: #fff;

    transform: rotate(45deg);

    position: relative;
}

.delete .cross::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;

    transform: rotate(90deg);

    position: absolute;
}